{% extends "base_quote.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="card-title text-center">Sign Up</h2>
            <hr class="my-3">
            <div >              
              <form method="POST">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign Up">
              </form>
              <p class="text-right mt-2 mb-0"><a href="{% url 'login' %}">I have and account.</a></p>
              <p class="text-right mt-2 mb-0"><a href="{% url 'password_reset' %}">Lost password?</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}