{% extends "base_quote.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-lg-5 mx-auto">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="card-title text-center">Update Quote</h2>
            <hr class="my-3">
            <div >              
              <form method="POST">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <input class="btn btn-primary btn-lg btn-block" type="submit" value="Update">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}