{% extends "base_quote.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center">Contact</h2>
          <hr class="my-3">
          <p>If you want to contact me.</p>
          <ul class="text-left">
            <li><span>Send me a email to...</span><a href="#">Gmail</a></li>
            <li><span>Take a look at the code...</span><a href="#">GitHub</a></li>
            <li><span>My profile in...</span><a href="#">FaceBook</a></li>
            <li><span>Watch my videos...</span><a href="#">YouTuBe</a></li>
            <li><span>Others projects...</span><a href="#">Portfolio</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}s